.stripe {
    width: 100%;
    height: 800px;
    position: absolute;
    background-color: #303030;
    z-index: -1;
    clip-path: polygon(0 0, 100% 0%, 100% 15%, 0% 100%);

}
.hero-bg {
    background-color: #434343;
}

.hero-bg * {
    z-index: 0;
}

.testemonials-bg {
    background-color: #434343;
}