.logo {
	width: 50px;
	height: 50px;
}

.stripe {
    width: 100%;
    height: 800px;
    position: absolute;
    background-color: #303030;
    z-index: -1;
    clip-path: polygon(0 0, 100% 0%, 100% 15%, 0% 100%);
}

.nav-bg {
    background-color:  #303030;
}

nav a{
	color: #aaaaaa;
	cursor: pointer;
}

.hero-bg {
    background-color: #434343;
}

.hero-bg * {
    z-index: 0;
}

.hero-illustration {
	position: relative;
}

.hero-illustration .water-pipe {
	position: absolute;
	top: 42%;
	left: -50px;
}

.water-pipe {
    animation: water-moving infinite ease-in-out 15s;
}
#main {
	display: none;
}
#moving {
	animation: water-pouring infinite ease-in-out 20ms, toggle-pouring infinite ease-in-out 15s;
}

#leaves {
	animation: expand infinite ease-in-out 15s;
}

.testimonials {
    background-color: #434343;
}

.testimonials h1 {
	padding-top: 150px;
	text-align: center;
}

.testimonial .quotes {
    color: #c5c2c2;
    font-size: 16px;
	font-family: 'Montserrat', sans-serif;
}

.testimonial .role {
	color: #aaaaaa;
}

.testimonial .name {
	color: white;
}

.water-drops {
	position: absolute;
	top: 55%;
	left: 40px;
}

#bulb {
    animation: floating-bulb infinite ease-in-out 15s;
}

#discord {
    animation: discord-floating infinite ease-in-out 5s;
}


#picture {
    animation: floating-picture infinite ease-in-out 10s;
}

@-webkit-keyframes floating-bulb {
	0% {
		-webkit-transform: translateY(0%);	
	}
	50% {
		-webkit-transform: translateY(8%);	
	}	
	100% {
		-webkit-transform: translateY(0%);
	}			
}

@-webkit-keyframes floating-picture {
	0% {
		-webkit-transform: translateY(0%);	
	}
	50% {
		-webkit-transform: translateY(-5%);	
	}	
	100% {
		-webkit-transform: translateY(0%);
	}			
}

@-webkit-keyframes discord-floating {
	0% {
		-webkit-transform: translateY(0%);	
	}
	50% {
		-webkit-transform: translateY(-3%);	
	}	
	100% {
		-webkit-transform: translateY(0%);
	}			
}

@-webkit-keyframes water-moving {
	0% {
		-webkit-transform: translateX(-50vw);
		opacity: 0;
	}			
	30% {
		-webkit-transform: translateX(0%);
		opacity: 1;
	}
	40% {
		transform: rotate(20deg);
		opacity: 1;	
	}
	90% {
		transform: rotate(20deg);
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-webkit-keyframes water-pouring {
	0% {
		-webkit-transform: translateY(0%);	
	}			
	100% {
		-webkit-transform: translateY(25%);
	}
}

@-webkit-keyframes toggle-pouring {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	50% {
		opacity: 1;	
	}
	90% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-webkit-keyframes  expand{
	0% {
	}
	40% {
		transform: scale(1.0);
	}
	50% {
		transform: scale(1.0);
	}
	90% {
		transform: translate(-40px, -38%) scale(1.5);
	}
	100% {
	}
}
@media (max-width: 767px) {
  .hero-illustration .boy {
      margin: 0 auto;
      width: 60vw;
      height: 60vw;
  }  
} 
